MONGODB_URI=
PIXABAY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=
ADMIN_JWT_SECRET=
ADMIN_SESSION_TTL_HOURS=
CORS_ORIGIN=
